.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
}

.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3%;
    /* position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 18%;
    padding-left: 0.8%;
    padding-right: 0.8%;
    top: 0;
    left: 3.5%;
    right: 0;
    bottom: 0; */
}

.array-bar {
    width: 3.5px;
    background-color: rgb(185, 177, 177);
    display: inline-block;
    margin: 0 1px;
}


/** Slider **/
.slider {
    -webkit-appearance: none;
    width: 55%;
    height: 0.4%;
    cursor: pointer;
    background: linear-gradient(to right, blue 50%, rgb(185, 177, 177) 0%);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

/** Button **/
.button {
	margin: 1em;
	padding: 1em 2em;
	background: #eeebeb;
    z-index: 1;

    font-size: 88%;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2.0px solid;
    
    overflow: hidden;
    width: 25%;
}

.button:hover {
    cursor: pointer;
}

/** Generate button **/
.button.button--generate {
    position: relative;
    left: 5%;
    bottom: 24.5%;
    opacity: 1;
    background-color: #0850ec;
    color: #fff;
    border-color: rgb(49, 46, 46);
}

.button.button--generate:hover {
    background-color: rgb(2, 2, 214);
}


/** Sort buttons **/
.sort-buttons {
    display: inline-block;
    text-align: center;
    width: 75%;
}

.button.button--sort:hover {
    opacity: 1;
    background-color: rgb(49, 46, 46);
    color: #fff;
    border-color: #fff;
}


@media (max-width: 375px) {
    .container {
        width: 100%;
        height: 40vh;
        padding-top: 45%;
    }

    .array-bar {
        width: 15px !important;
    }

    .slider {
        height: 0.7%;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        padding-top: 5%;
    }

    .button {
        display: list-item;
        width: 80%;
    }

    .button.button--generate {
        margin-right: 20px;
    }

    .sort-buttons {
        display: flex;
        flex-direction: column;
        height: 80%;
        margin: 0 20px;
    }

    .button.button--sort {
        margin: 0 10px;
        height: 5vh;
    }
}

@media (min-width: 376px) and (max-width: 450px) {
    .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .array-bar {
        width: 15px;
    }

    .button-container {
        height: 50%;
    }

    .button {
        display: list-item;
        width: 70%;
    }

    .button.button--generate {
        bottom: 35%;
        margin-right: 5%;
    }

    .sort-buttons {
        width: 100%;
    }
}

@media (min-width: 451px) and (max-width: 770px) {
    .container {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .array-container {
        width: 80%;
    }

    .array-bar {
        width: 8px;
    }

    .button {
        font-size: 60%;
    }
}

@media (min-width: 771px) and (max-width: 999px) {
    .container {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 1000px) and (max-width: 1100px) {
    .container {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .array-bar {
        width: 5px;
    }
}

@media (min-width: 1101px) and (max-width: 1265px) {
    .array-container {
        padding-left: 8%;
        padding-right: 8%;
    }
}
